/* index.css */

* {
  box-sizing: border-box;
}

/* 전체 body 스타일링 */
body {
  font-family: Arial, sans-sesection__contentrif;
  margin: auto;
  padding: 0;
  width: 50%;
}

section {
  margin-top: 50px;
}

/* Header를 우측 상단에 위치시킴 */
.header {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  padding: 10px;
}

/* 테이블 스타일링 */
.table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0 10px 0;
}

.table,
.table-header__cell,
.table-body__row,
.table-body__cell,
.table__cell {
  border: 1px solid #ccc;
}

.table-header__cell,
.table-body__cell {
  padding: 8px;
  text-align: center;
}

.table-body__cell--value {
  width: auto;
  > input {
    width: 50%;
  }
}
.table-body__cell--delete {
  width: 10%;
}

.button--delete {
  background-color: rgba(236, 56, 56, 0.854);
}

/* 입력 필드 및 버튼 스타일링 */
input,
button {
  padding: 10px;
  box-sizing: border-box;
}

input {
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.button--apply {
  padding: 10px 30px 10px 30px;
}

.add-section__content {
  display: flex;
  justify-content: space-between;
}

.input--id {
  flex: 1 1 0;
}
.input--value {
  flex: 5 1 0;
}

.button--add {
  flex: 1 1 0;
}

.advancedEdit-section__content {
  background-color: rgb(233, 233, 233);
  border: 1px solid black;
  padding: 10px;
}

.advancedEdit-section__button-container {
  display: flex;
  justify-content: end;
}

.button--advanced-apply {
  margin: 10px 0;
}

.edit-section__button-container {
  display: flex;
  justify-content: end;
}
